/* source-serif-pro-regular - latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Serif Pro'), local('SourceSerifPro-Regular'),
       url('../fonts/source-serif-pro-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/source-serif-pro-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes slidein {
  from { margin-top: -50px; }
  to   { margin-top: 0; }
}

@-webkit-keyframes slidein {
  from { margin-top: -50px; }
  to   { margin-top: 0; }
}

html,
body {
  background: #3887be;
  transition: background-color 1s ease-in-out;
  color: #fff;
}

h1, h2, h3, h4, h5, h6,
footer,
p,
a {
  /* Override skeleton font settings */
  font-family: 'Source Serif Pro', serif;
}

p {
  font-size: 2.0rem;
}

blockquote {
  border-left: 8px solid #3887be;
  margin-left: 0;
  background: #eee;
  padding: 20px;
  padding-bottom: 5px;
}

.toc {
  padding: 10px;
  font-size: 90%;
}

.toc ul li {
  list-style-type: none;
}

img {
  width: 100%;
}

.post-wrapper li {
  list-style-type: initial;
  margin: 0;
}

.post-wrapper ul {
  margin: 20px 0 20px 20px;
  list-style: initial;
}

.post-wrapper ul ul {
  font-size: 100%;
  margin: 0 20px;
}

footer {
  padding: 50px;
  text-align: center;
}

footer a {
  color: white;
}

footer a:hover {
  color: #eee;
}

canvas#life {
  position: absolute;
  top: 0;
  height: 250px;
  width: 100%;
  animation: fadein 4s;
  -webkit-animation: fadein 4s;
}

.container {
  z-index: 1;
  max-width: 800px;
}

ul {
  list-style-type: none;
}

ul.posts h4 {
  margin-bottom: 5px;
}

ul.posts h4 a {
  text-decoration: none;
  color: #28353d;
}

ul.posts li > em {
  display: block;
  margin-bottom: 8px;
}

ul.posts .toc {
  display: none;
}

.post-date {
  color: #888;
}

.post-title {
  font-weight: bold;
}

.header {
  min-height: 180px;
  padding-top: 15px;
  text-align: center;
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
}

.header h3 {
  font-weight: 900;
}

.skinny-header {
  height: 10px;
}

.section-light {
  background: #fff;
  color: #28353d;
  z-index: 20;
}

.section-title {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 1.9rem;
  letter-spacing: .2rem;
  font-weight: 600;
  text-align: center;
}

.button, .button:visited {
  color: #fff;
  border-color: #fff;
}

.button:hover, .button:active {
  background: rgba(255,255,255,0.2);
  border-color: #fff;
  color: #fff;
  transition: background 0.3s ease-in-out;
}

.section-light .button,
.section-light .button:visited,
.section-light .button:active {
  color: #28353d;
  border-color: #28353d;
}

.section-light .button:hover {
  color: #3887be;
  border-color: #3887be;
  transition: background 0.4s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.section-light .button.home-button {
  margin: 10px;
  border-color: transparent;
  transition: border-color 0.2s ease-in-out;
}

.section-light .button.home-button:hover {
  border-color: #28353d;
  color: inherit;
}

.title {
  text-align: center;
}

p code {
  background: #eee;
}

pre,
div.sourceCode {
  background-color:#f8f8f8;
  border: 1px solid #eee;
  border-radius: 3px;
  font-size: 1.8rem;
}

div.sourceCode pre,
code,
code.sourceCode {
  background-color: transparent;
  border: none;
}

a.sourceLine {
  font-family: monospace;
}

@media (min-width: 1000px) {
  .toc {
    position: fixed;
    left: 0;
    top: 10%;
  }
}
