@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

canvas#life {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  height: 250px;
  width: 100%;
  animation: fadein 4s;
  -webkit-animation: fadein 4s;
}
