@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes slidein {
  from { margin-top: -50px; }
  to   { margin-top: 0; }
}

@-webkit-keyframes slidein {
  from { margin-top: -50px; }
  to   { margin-top: 0; }
}

html,
body {
  background: #3887be;
  transition: background-color 1s ease-in-out;
  color: #fff;
}

p {
  font-family: 'Open Sans', sans-serif;
}

footer {
  padding: 50px;
  text-align: center;
}

footer a {
  color: white;
}

canvas#life {
  position: absolute;
  top: 0;
  height: 230px;
  width: 100%;
  animation: fadein 4s;
  -webkit-animation: fadein 4s;
}

.container {
  z-index: 1;
  max-width: 800px;
}

ul {
  list-style-type: none;
}

ul.posts h5 {
  margin-bottom: 5px;
  font-weight: bold;
}

ul.posts h5 a {
  text-decoration: none;
  color: #28353d;
}

ul.posts li > em {
  display: block;
  margin-bottom: 8px;
}

.post-date {
  color: #888;
}

.post-title {
  font-weight: bold;
}

.header {
  min-height: 170px;
  padding: 20px 0;
  text-align: center;
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
}

.header h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-style: italic;
  animation: slidein 1s;
  -webkit-animation: slidein 1s;
}

.skinny-header {
  height: 10px;
}

.light .button.home-button {
  margin: 10px;
  border-color: transparent;
  transition: border-color 0.2s ease-in-out;
  -webkit-transition: border-color 0.2s ease-in-out;
}

.light .button.home-button:hover {
  border-color: #28353d;
}

.light {
  background: #fff;
  color: #28353d;
  z-index: 20;
}

.section-title {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 1.9rem;
  letter-spacing: .2rem;
  font-weight: 600;
  text-align: center;
}

.button {
  color: #fff;
  border-color: #fff;
}

.light .button {
  color: #28353d;
  border-color: #28353d;
}

.title {
  text-align: center;
}

table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin:0;
  padding:0;
  vertical-align:baseline;
  border:none
}

table.sourceCode{
  width:100%;
  line-height:100%;
  background-color:#f8f8f8
}

td.lineNumbers{
  text-align:right;
  padding-right:4px;
  padding-left:4px;
  color:#aaaaaa;
  border-right:1px solid #aaaaaa
}

td.sourceCode{
  padding-left:5px
}

pre, code{
  background-color:#f8f8f8
}

code > span.kw{ color:#204a87; font-weight:bold }
code > span.dt{ color:#204a87 }
code > span.dv{ color:#0000cf }
code > span.bn{ color:#0000cf }
code > span.fl{ color:#0000cf }
code > span.ch{ color:#4e9a06 }
code > span.st{ color:#4e9a06 }
code > span.co{ color:#8f5902; font-style:italic }
code > span.ot{ color:#8f5902 }
code > span.al{ color:#ef2929 }
code > span.fu{ color:#000000 }
code > span.er{ font-weight:bold }
