body {
  font-family: Lato;
  font-weight: 300;
  color: #333;
  text-shadow: 0 1px 1px #fff;
  margin-bottom: 50px;
}

h2,
h3 {
  font-weight: 400;
}

.email {
  color: #444;
  font-weight: 400;
  text-decoration: none;
}

a {
  color: #08c;
  text-decoration: underline;
}

div.content {
  width: 650px;
  margin: 0 auto;
  text-align: center;
}

div.projects-header {
  margin-top: 30px;
  background: #ccc;
  border: 1px solid #aaa;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div.projects-header h3 {
  margin: 10px;
}

ul.projects {
  list-style: none;
  margin: 0;
  padding-left: 0;
  text-align: left;
  background: #ddd;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
}

ul.projects li {
  padding: 20px;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #eee;
}

ul.projects li a {
  font-weight: 400;
  font-size: 95%;
  color: #444;
  text-decoration: none;
}

ul.projects li a:hover {
  text-decoration: underline;
}

.frame {
  background: #000;
  display: inline-block;
  border: 1px solid #888;
  margin: 10px;
}

.thumbnails {
  text-align: center;
}

.thumbnail {
  background-color: #444;
  margin-bottom: -3px;
  transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  opacity: 1.0;
}

.thumbnail:hover {
  opacity: 0.8;
}
