@font-face {
  src: url(files/gothenbg.ttf);
  font-family: Gothen;
}

html {
  font-family: Verdana;
}

hr {
  border: 1px solid #bbb;
  outline: none;
  font-weight: 100;
}

.top-header a {
  color: black;
  font-size: 12px;
  text-decoration: none;
  margin-right: 10px;
  text-align: right;
}

.top-header a.impressum,
.top-header a.interpretation {
  float: right;
  margin-left: 20px;
}

.header {
  border: 1px solid #bbb;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #ddd;
  padding-bottom: 5px;
  text-align: center;
}

.header h2 {
  font-family: Gothen;
  font-size: 50px;
  margin: 5px;
}

.header h3 {
  font-weight: 200;
  font-size: 12px;
  text-transform: uppercase;
  color: #888;
}

.header h4 {
  font-size: 10px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
}

.header .header-nav {
  text-align: left;
  font-size: 14px;
  padding: 5px;
}

.header .header-nav a {
  color: #444;
  margin: 0 5px;
  text-decoration: none;
}

.header .header-nav a.active {
  color: black;
  font-weight: bold;
}

.header .header-suche {
  width: 400px;
  text-align: right;
  float: right;
  position: relative;
  bottom: 28px;
  right: 5px;
}

.header .header-suche input.search {
  padding: 4px;
  width: 150px;
}

.content {
  width: 1000px;
  margin: 0 auto;
}

.content h2 {
  font-family: Lucinda Grande;
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
}

.content .content-media {
  display: inline;
  float: left;
  width: 500px;
}

.content .content-media img {
  width: 500px;
}

.content .content-text {
  width: 550px;
  margin-right: 50px;
  margin-top: 10px;
  line-height: 23px;
  float: left;
}

.content .content-sidebar {
  width: 350px;
  float: left;
  margin-top: 30px;
}

.content-graph {
  border: 1px solid #ccc;
  height: 345px;
  width: 450px;
  float: left;
}

.content-graph #graph {
  font-size: 12px;
  display: inline;
}

.content-graph a {
  font-size: 12px;
  color: black;
  text-decoration: none;
  position: relative;
  bottom: 34px;
  left: 5px;
}

.content-graph a.active {
  font-weight: bold;
}

.content-pub-date {
  color: #888;
  font-size: 10px;
}

.content-author {
  font-family: Helvetica;
  text-transform: uppercase;
  color: #444;
  font-size: 12px;
}

.content-city {
  font-weight: 800;
}

.sozial {
  background-repeat: no-repeat;
  background-position: 0% 0%;
  padding-left: 22px;
  font-size: 13px;
  line-height: 16px;
  margin-right: 10px;
}

.sozial-facebook {
  background-image: url(img/facebook.png);
}

.sozial-twitter {
  background-image: url(img/twitter-2.png);
}

.sozial-gplus {
  background-image: url(img/google-plus.png);
}

.empfehlungen {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.empfehlungen ul {
  padding-left: 0;
}

.empfehlungen ul li {
  border-top: 1px solid #ccc;
  list-style-type: none;
  padding: 5px;
  font-size: 12px;
}

.werbung {
  border: 1px solid #ccc;
  font-size: 12px;
  margin-bottom: 20px;
}

.werbung img {
  width: 348px;
}

.popover,
.impressum-popover {
  position: absolute;
  width: 300px;
  background: white;
  padding: 5px;
  border: 1px solid #ccc;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.5);
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.impressum-popover {
  width: 500px;
  height: 400px;
  position: fixed; 
  top: 50%; 
  left: 50%;
  margin-left: -260px;
  margin-top: -210px;
  -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.7);
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.7);
  box-shadow: 0 5px 5px rgba(0,0,0,0.7);
  padding: 20px;
  font-size: 12px;
}

.impressum-popover h2 {
  font-weight: 300;
}

.impressum-popover .close {
  font-weight: 300;
  color: black;
  text-decoration: none;
  float: right;
}

.popover-inner h3 {
  font-size: 13px;
  margin: 0;
  width: 220px;
}

.popover-inner div {
  font-size: 11px;
  margin: 0;
  margin-top: 3px;
}

.popover-inner img {
  float: right;
  width: 60px;
}

.popover-inner table {
  width: 100%;
  font-size: 14px;
}

.twitter-name {
  font-weight: 700;
}

.twitter-handle {
  color: #777;
}

.twitter-link {
  color: #0084B4;
}
