<canvas id="life" height="250"></canvas>

<div class="container">
  <div class="header">
    <h3 class="title">Hi &mdash; I’m Nick Reynolds</h3>

    <p>
      I’m a full-stack developer based in Berlin.
      <br/>
      I specialize in crafting custom web and mobile applications.
      I love Ruby, the good parts of JavaScript, and recently, Haskell.
    </p>
    <a class="button" href="https://github.com/ndreynolds">
      <i class="fa fa-lg fa-github"></i>
      GitHub
    </a>
    </a>
    <a class="button" href="mailto:ndreynolds@posteo.de">
      <i class="fa fa-lg fa-envelope-o"></i>
      Email
    </a>
  </div>
</div>
